.panel-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: stretch;
}

.panel-left {
	flex: none;
	width: 200px;
}

.panel-splitter {
	flex: none;
	width: 20px;
}

.panel-right {
	flex: 1;
}